# Database
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.jxzhloosntfeitpbylzp
DB_PASSWORD=your_password_here
DB_DATABASE=postgres
DB_SSL=true
DB_LOGGING=false

# JWT
JWT_SECRET=nail-pos-secret
